.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.form__textarea {
  height: 4rem;
  max-height: 15rem;
  overflow: auto;
  width: 100%;
  resize: none;
  border-radius: 0.25rem;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    align-items: center;
    width: fit-content;
  }

  .form__textarea {
    width: 60vw;
  }
}
